<html lang="en">
    <head>
        <title>
            Babbler
        </title>
        <%- include('../partials/imports'); %>
        <link rel="stylesheet" href="/css/babbler.css">

    </head>
    <!-- partial - navbar header -->
    <header><%- include('../partials/header'); %></header>
    
    <!-- Template for displaying stories -->
    <div class="container">
        <% if (topRater) { %>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <%if (topRater.ratingCount == 1) { %>
                    Most active rater: <b><%= topRater.username %></b> with <%= topRater.ratingCount %> rating!
                    <% }else { %>
                    Most active rater: <b><%= topRater.username %></b> with <%= topRater.ratingCount %> ratings!
                    <% } %>
                </div>
            </div>
        <% } %>

    <div class="row">
        <div class="col-sm-5"> <h3><%= heading %></h3> </div>
        <!-- Form to filter by genre -->
        
        <form method = 'GET' action = '/'>
            <div class="form-group">
                <div class="col-sm-5"> <select class="form-control" id="genre-select" name="genre">
                    <option value=""> All Stories</option>
                    <option  <%= genre === 'Adventure' ? 'selected' : '' %>>Adventure</option>
                    <option  <%= genre === 'Horror' ? 'selected' : '' %>>Horror</option>
                    <option  <%= genre === 'Romance' ? 'selected' : '' %>>Romance</option>
                    <option  <%= genre === 'Thriller' ? 'selected' : '' %>>Thriller</option>
                    <option  <%= genre === 'SciFi' ? 'selected' : '' %>>SciFi</option>
                    <option  <%= genre === 'Fantasy' ? 'selected' : '' %>>Fantasy</option>
                    <option  <%= genre === 'Comedy' ? 'selected' : '' %>>Comedy</option>
                    <option  <%= genre === 'Fable' ? 'selected' : '' %>>Fable</option>
                    <option  <%= genre === 'Misc' ? 'selected' : '' %>>Misc</option>
                </select> </div>
                <div class="col-sm-1">
                <button type="submit" class="btn btn-default" style="display:inline"> Filter </button>
                </div>
            </div>
            
            <div class="col-sm-4">
                <div class="checkbox">
                    <label><input type="checkbox" name="seen" <%= seen ? 'checked' : '' %>> Include Previously Read Stories</label>
                </div>
            </div>
        </form>
    </div>

    <div><%- include('../partials/storypreview'); %></div>

    <h4> You've seen it all! <a href="/submit">Why Not Submit a Story?</a> </a></h4>
    </div>
    
</html>